@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  background: linear-gradient(311deg, #F8E4FF 1.92%, #61DAFB 18.06%, #257A98 47.29%, #105976 76.98%, #034460 100%);;
  box-shadow: 0px 4.42184px 107.23px rgba(100, 137, 153, 0.51);
}

.btn:hover {
  background: linear-gradient(311deg, #034460 18.06%, #5B1D71 47.29% #257A98 66%, #105976 76.98%, #F8E4FF 95.92%);
  box-shadow: 0px 4.42184px 107.23px rgba(248, 247, 250, 0.51);
}

.img_shadow {
  box-shadow: 0px 0px 35.23px rgba(100, 137, 153, 0.541);
}

.gradient,
.active {
  background: linear-gradient(
    92.23deg,
    #034460 5.43%,
    #61DAFB 100%
  );
  font-size: 25px;
}

.active {
  color: #fff;
  border-radius: 0.5rem;
}

@layer base {
  body {
    @apply font-secondary text-lg leading-8 text-white overflow-x-hidden;
  }
  .h2 {
    @apply font-primary text-[32px] mb-6 tracking-[10%] uppercase;
  }
  .h3 {
    @apply font-primary font-semibold text-[26px] mb-6 leading-[46px];
  }
  .h3-responsive {
    @apply font-primary font-semibold text-[20px] mb-6 leading-[46px];
  }
  .btn {
    @apply rounded-full font-primary text-white font-medium;
  }
  .btn-sm {
    @apply h-[48px] px-6 text-sm;
  }
  .btn-lg {
    @apply h-[56px] px-10 text-base;
  }
  .btn-link {
    @apply text-base;
  }
  .text-gradient {
    @apply bg-gradient-to-r text-transparent bg-clip-text from-[#034460] to-[#61DAFB] font-bold font-primary hover:from-[#61DAFB] hover:to-[#034460];
  }
  .section {
    @apply py-8 lg:py-24 lg:h-screen flex items-center;
  }
  .input {
    @apply h-[52px];
  }
  .input {
    @apply w-full h-[52px] rounded-lg pl-6 ;
  }
  .input,
  .textarea {
    @apply bg-transparent outline-none focus:ring-1 focus:ring-accent border border-white/20 placeholder:text-white/50 placeholder:font-light;
  }
  .textarea {
    @apply w-full h-[180px] p-6 rounded-lg resize-none;
  }
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  background-color: #61DAFB;
}

:root {
    --swiper-theme-color: #61DAFB !important; 
}

.swiper-pagination {
  position: relative !important;
}
